.instructions {
  background-color: #9aa847;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
}

.vancouver-words {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  border-radius: 3px;
  margin-top: 30px;
}
