<div class="word-generator">
  <div class="instructions">
    <p>{{instructions}}</p>
      <div class="options">
        <input
        (input)="onUpdateParagraphNumber($event)"
        type="number"
        name="input"
        value="1"
        required>
        <button
          class="generate-button"
          (click)="onGenerate()"
          >
          {{generateText}}
        </button>
      </div>
  </div>

</div>
<div *ngIf="displayWords" class="vancouver-words">
  <div *ngFor="let paragraph of paragraphs">
    <p>{{paragraph}}</p>
  </div>
</div>

