<div class="container generator-container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1 class="title">Vancouver Ipsum</h1>
      <app-generator></app-generator>
    </div>
  </div>
  <div class="created-by">
    <p>Created by <a href="https://www.linkedin.com/in/joshcoles/">Josh Coles</a>.</p>
    <p>Photo by <a href="https://unsplash.com/@gabrielssantiago?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer">Gabriel Santiago</a>.</p>
  </div>
</div>
